{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        table, th, td {
            border: 1px solid;
            border-collapse: collapse;
            padding: 4px;
        }
    </style>
{% endblock%}

{% block title %}Survey index{% endblock %}

{% block body %}
    <h1>Survey index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for survey in surveys %}
            <tr>
                <td>{{ survey.id }}</td>
                <td>{{ survey.name }}</td>
                <td>
                    <a href="{{ path('app_survey_show', {'id': survey.id}) }}">show</a>
                    <a href="{{ path('app_survey_edit', {'id': survey.id}) }}">edit</a>
                    <a href="{{ path('app_survey_respond', {'id': survey.id}) }}">respond</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_survey_new') }}">Create new Survey</a>
{% endblock %}
