{% extends 'base.html.twig' %}

{% block title %}Survey {{ survey.name }}{% endblock %}

{% block body %}
    <h1>Survey {{ survey.name }} (#{{ survey.id }})</h1>
    <a href="{{ path('app_survey_index') }}">back to list</a>

    {{ form(form) }}
{% endblock %}
