{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
    table, th, td {
        border: 1px solid;
        border-collapse: collapse;
        padding: 4px;
    }
    </style>
{% endblock%}

{% block title %}Survey {{ surveyResponse.survey.name }}{% endblock %}

{% block body %}
    <h1>Survey {{ surveyResponse.survey.name }}</h1>
    <a href="{{ path('app_survey_show', { id:surveyResponse.survey.id }) }}">back to survey</a>

    <table>
        <thead>
            <th>Name</th>
            <th>Value</th>
        </thead>
        <tbody>
            <tr>
                <td>Email</td>
                <td>{{ surveyResponse.email }}</td>{# you are responsible for your own non-dynamic fields #}
            </tr>
            {% for key, label in surveyResponse.survey.labels %}
                <tr>
                    <td>{{ label }}</td>
                    <td>{{ attribute(surveyResponse, key)|default }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
