{% extends 'base.html.twig' %}

{% block title %}Survey {{ survey.name }} (#{{ survey.id }}){% endblock %}

{% block body %}
    <h1>Survey {{ survey.name }} (#{{ survey.id }})</h1>
    <a href="{{ path('app_survey_index') }}">back to list</a>

    <h2>Survey responses</h2>
    <table>
        <thead>
            <th>Email</th>{# you are responsible for your own non-dynamic fields #}
            {% for key, label in survey.labels %}
                <th>{{ label }}</th>
            {% endfor %}
            <th>Actions</th>
        </thead>
        <tbody>
        {% for response in survey.responses %}
            <tr>
                <td>{{ response.email }}</td>{# you are responsible for your own non-dynamic fields #}
                {% for key, label in survey.labels %}
                    <td>{{ attribute(response, key)|default }}</td>
                {% endfor %}
                <td>
                    <a href="{{ path('app_survey_response_show', {id: response.id})}}">view</a>
                    <a href="{{ path('app_survey_response_edit', {id: response.id})}}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="{{ survey.labels|length + 2 }}">no responses found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
