{% extends 'base.html.twig' %}

{% block title %}Survey {{ survey_response.survey.name }}{% endblock %}

{% block body %}
    <h1>Survey {{ survey_response.survey.name }} (#{{ survey_response.survey.id }})</h1>
    <a href="{{ path('app_survey_index') }}">back to list</a>

    {{ include('survey_response/_form.html.twig') }}

    {{ include('survey_response/_delete_form.html.twig') }}

{% endblock %}
