{% extends 'base.html.twig' %}

{% block title %}Survey {{ survey_response.survey.name }} (#{{ survey_response.survey.id }}){% endblock %}

{% block body %}
    <h1>Survey {{ survey_response.survey.name }} (#{{ survey_response.survey.id }})</h1>
    <a href="{{ path('app_survey_show', { id:survey_response.survey.id }) }}">back to survey</a>

    <table>
        <thead>
        <th>Name</th>
        <th>Value</th>
        </thead>
        <tbody>
        <tr>
            <td>Email</td>
            <td>{{ survey_response.email }}</td>{# you are responsible for your own non-dynamic fields #}
        </tr>
{#        {% for key, label in survey_response.survey.labels %}#}
{#            <tr>#}
{#                <td>{{ label }}</td>#}
{#                <td>{{ attribute(survey_response, key)|default }}</td>#}
{#            </tr>#}
{#        {% endfor %}#}
        {% for groupLabel, nameAndLabel in survey_response.survey.groupedLabels %}
            <tr><td colspan="2"><strong>{{ groupLabel }}</strong></td></tr>
            {% for name, label in nameAndLabel %}
                <tr>
                    <td>{{ label }}</td>
                    <td>{{ attribute(survey_response, name)|default }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
